<h1>handlebars homepage ... Example App: Home</h1>
<p>{{stuff}}</p>
<p>{{other}}</p>
<p>{{stock}}</p>

<h2>{{stock.companyName}}</h2>
<p>Market Cap: <strong>${{stock.marketCap}}</strong></p>
<p>Latest Price: <strong>${{stock.latestPrice}}</strong></p>


{{#each stock}}
    {{@key}} | {{this}}<br>
{{/each}}